* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

.menubar {
  padding-top: 10px;
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
  border-radius: 5px;
}

/* clearfix */
.menubar:after {
  content: ' ';
  display: block;
  clear: both;
}

.menus {
  padding: 0;
  margin: 0;
}

.item {
  height: 30px;
  float: left;
  background: #DBC0D4;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
  font-size: 14px;
  color: black;
  padding: 3px;
  list-style-type: none;
}

.item.selected {
  border: 2px solid #fff;
}

.stamp {
  height: 30px;
  float: left;
  font-size: 14px;
  list-style-type: none;
}

.item:hover {
  border-color: white;
  cursor: move;
}

.item.is-dragging,
.item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}

.add-item {
  height: 30px;
  width: 30px;
  float: left;
  background: #DBC0D4;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
  font-size: 14px;
  color: black;
  padding: 3px;
  list-style-type: none;
}
