<!DOCTYPE html>
<html>
<head>
	<title>Gestion du menu principal</title>
	<meta charset='utf-8'> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container">
  <h1>Gestion du menu principal</h1>
  <div class="row">
    <ul class="col-lg-9 packery">
      <li class="item" tabindex="0" data-url="/actus">Actus</li>
      <li class="item" tabindex="1" data-url="/category?name=canape">Canapés</li>
      <li class="item" tabindex="2" data-url="/category?id=12">Meubles</li>
      <li class="item" tabindex="3" data-url="/tag/arts-de-la-table">Arts de la table</li>
      <li class="item" tabindex="4" data-url="/category?id=45">Textile</li>
      <li class="item" tabindex="5" data-url="/category?id=98">Luminaires</li>
      <li class="item" tabindex="6" data-url="/tag+deco">Déco</li>
      <li class="item" tabindex="7" data-url="/styles">Tous nos styles</li>
      <li class="item" tabindex="8" data-url="/cataloguse/junior">Catalogue Junior</li>
      <li class="item" tabindex="9" data-url="/catalogues/outdoor">Catalogue Outdoor</li>
  	</ul>
    <div class="col-lg-3 menuform">
    </div>
  </div>
  <div class="row menubar">
    <ul class="menus"></ul>
    <button type="button" class="btn btn-default btn-sm" id="add">+</button>
  </div>
</div>
<script type="text/template" id="form-template">
<form>
  <fieldset>
    <input type="hidden" id="item_id" value="" />
    <legend>Propriétés</legend>
    <div class="form-group">
      <label>Titre</label>
      <input type="text" class="form-control" name="title" value="<%= title %>" />
    </div>
    <div class="form-group">
      <label>Url</label>
      <input type="url" class="form-control" name="url" value="<%= url %>"/>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-warning btn-sm" id="delete">Supprimer</button>
    </div>
  </fieldset>
</form>
</script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/backbone.localStorage.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/packery.pkgd.js"></script>
<script type="text/javascript" src="js/draggabilly.pkgd.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
