<form>
  <fieldset>
    <input type="hidden" id="item_id" value="" />
    <legend>Propriétés du bloc</legend>
    <div class="form-group">
      <label>Contenu</label>
      <textarea class="form-control" name="content"><%= content %></textarea>
    </div>
    <div class="form-group">
      <label>Classe</label>
      <input type="text" class="form-control" name="className" value="<%= className %>" />
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-warning btn-sm" id="delete">Supprimer</button>
    </div>
  </fieldset>
</form>
